<!doctype html>
<!--[if lte IE 7 ]><html class="ie7 oldie" dir="ltr" lang="en-US"><![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie" dir="ltr" lang="en-US"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Fleur DeSign Studios - @ViewBag.Title </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="Fleur DeSign Studios is a New Orleans based studio specializing in wedding, special event, and portrait photography." />
    <meta name="keywords" content="New Orleans, Photographer, Photo, Photography, Wedding, Wedding Photography, Louisiana, Destination, Destination Wedding, New Orleans Destination" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="~/favicon.png" />
    <link rel="apple-touch-icon" href="~/images/touch-icon.png" />
    <link rel="image_src" href="~/images/touch-icon.png" />

    <link rel="stylesheet" href="~/content/style.css" />
    <!-- <link rel="stylesheet" href="less/style.less" type="text/less" media="screen" />
	<script src="js/less.min.js" type="text/javascript"></script> -->

    <!--[if IE]>
	<script type="text/javascript" src="~/scripts/ie.js"></script>
	<script type="text/javascript" src="~/scripts/respond.min.js"></script>
	<![endif]-->
</head>
<body class="fullpage no-js">
    <header id="header" class="normal-size clearfix">
        <hgroup id="logo">
            <h1><a href="~/">
                <img src="~/images/logo.png" alt="Fleur DeSign Studios" /></a></h1>
        </hgroup>
        @Html.Action("Navigation", "Home")
        <span id="menu-switch" class="button">Menu</span>
        <div class="social-links">
            <a href="http://www.facebook.com/FDStudios/" target="_blank" class="facebook tooltip animated bounce" title="Facebook"></a>
            <a href="http://www.twitter.com/FDStudios/" class="twitter tooltip animated bounce" title="Twitter"></a>
            <a href="#" class="googleplus tooltip animated bounce" title="Google+"></a>
        </div>
        <a class="supersized-prev"><span></span></a>
        <a class="supersized-next"><span></span></a>
    </header>
    @RenderBody()
    <div id="supersized-loader"></div>
    <ul id="supersized"></ul>

    <div id="supersized-info">
        <div class="inner">

            <h2><a href="#">&nbsp;</a></h2>
            <p></p>
            <a class="supersized-prev"><span></span></a>
            <a class="supersized-next"><span></span></a>
        </div>
    </div>

    <script type='text/javascript' src='~/scripts/jquery.min.js'></script>
    <script type='text/javascript' src='~/scripts/jquery.common.min.js'></script>
    <script type='text/javascript' src='~/scripts/jquery.supersized.3.2.7.min.js'></script>
    <script type='text/javascript'>
        var supersized_slides = [
			{
			    image: '/Gallery/2011-06-19_NOLAJapanQuakeFund/FDS_2344.png',
			    article_title: 'Lorem ipsum sit amet',
			    article_url: 'single-image.html',
			    article_text: 'Consectetur adipisi elit, do eiusmod tempor incid idunt ut labore et dolore magna aliqua.'
			},
			{
			    image: 'tmp/placeholder-big.png',
			    article_title: 'Dolor amet sit',
			    article_url: 'single-image.html',
			    article_text: 'Eiusmod tempor incid idunt ut labore et dolore magna enim ad minim veniam quis.'
			},
			{
			    image: 'tmp/placeholder-big.png',
			    article_title: 'Lorem ipsum sit amet',
			    article_url: 'single-image.html',
			    article_text: 'Consectetur adipisi elit, do eiusmod tempor incid idunt ut labore et dolore magna aliqua.'
			},
			{
			    image: 'tmp/placeholder-big.png',
			    article_title: 'Dolor amet sit',
			    article_url: 'single-image.html',
			    article_text: 'Eiusmod tempor incid idunt ut labore et dolore magna enim ad minim veniam quis.'
			}
        ]
	</script>
    <script type='text/javascript' src='~/scripts/site.js'></script>
</body>
</html>
